.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;   
}

.site-nav {
    width: 75%;
    margin: auto;
}

.site-nav ul {
    list-style: none;
    padding: 0px;
}

.site-nav ul li {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
}

.site-nav a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    padding: 10px;
}

.site-nav a:active {
    background-color: lightgray
}

.black-line {
    border-bottom: 2px solid black;
    padding-top: 13px;
}

.layout {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-services {
    display: flex;
    flex-wrap: wrap;
}

.about-services img {
    width: 100%;
    padding-top: 15px;
}

.about-services p {
    margin: 0px;
}

.box {
    background-color: lightgray;
    width: 99%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border: 1px solid black;
    padding-right: 5px;
}

.box:first-child {
    margin-top: 10px;
}

.box h1, .box p {
    padding-left: 5px;
}

.box button {
    width: 67px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 12px;
}

.box img {
    width: 100%;
}


/* Tablet view  */
@media (min-width:500px) {

    header {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: row;
    }

    .top-image {
        order: 1;
        margin-top: 19px;
    }

    .site-nav {
        width: 74%;
    }

    .site-nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: none;
    }

    .site-nav ul li{
        border-bottom: none;
        padding: 2px;
        margin-top: 9px;
    }

    .content-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60%;
    }

    .box:nth-last-child(2) {
        border-top: 2px solid black;
        width: 100%;
        background-color: white;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .box:last-child {
        display: none;
    }
 }


/* Web view  */
@media screen and (min-width:800px) {
    .container {
        margin: 20px;
    }

    header {
        width: 100%;
    }

    .site-nav {
        width: 90%;
    }

    .site-nav ul {
        justify-content: space-between;
        border: none;
        margin-top: 18px;
    }

    .black-line {
        width: 133%;
    }

    .top-image img {
        margin-left: 10px;
        margin-top: -3px;
    }

    .site-nav ul li:last-child {
        padding-right: 44px;
    }

    .about-services div {
        width: 100%;
    }

    .content-boxes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .box {
        width: 48%; 
    }    

    .computer-image {
        display: flex;
        justify-content: center;
    }

    .box .computer-image {
        width: 48%;
        margin: 0 auto;
    }

    .box:nth-last-child(2) {
        border: none;
        width: 48%;
        background-color: white;
    }

    .box:nth-last-child(2) h1{
        margin-top: -50px;
        margin-left: 0px;
    }

    .box:last-child {
        display: block;
        border: none;
        width: 48%;
        background-color: white;
    }
}
